@import "bootstrap.scss";

.required {
  color: #db4437
}

.sub-detail {
  font-size: 0.9em;
}

/*
 * CSS for .popup for
 * Request More Info
 * on post pages.
 */
.popup {
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}

.btn-add-file {
  font-size: 1.5em;
  &:hover {
    color: #007bff;
    cursor: pointer;
  }
}

.closeTaskForm {
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99;
}

.closeTaskForm {
  > .container > .row > .card{
    overflow: scroll
  }
}


